.button {
    
     background-color: #ffffff;
      color: #000000;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;
     transition: background-color 0.3s ease;
     border: 1px solid #cfcfcf;

    &:focus-visible {
      outline: 3px solid #E30613;
      outline-offset: 2px;
    }
   
}

.active {
   background-color: #000000; 
    color: #f7f4f4;
}

